.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 5 1;
    margin-bottom: 2%;
}
.info-wrapper {
    width: 82%;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    row-gap: 1vw;
    column-gap: 1vw;
    margin-bottom: 3%;

}