.popup-bg {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.65);
    backdrop-filter: blur(5px);
    z-index: 10;

}

.popup{
    display: flex;
    flex-direction: column;
    row-gap: 2vw;
}

.popup>h2 {
    color: #ACACAC;
}

.popup>input {
    appearance: none;
    background: none;
    border: 2px solid;
    color: #ACACAC;
    font-size: 15px;
    border-radius: 10px;
}

input:focus {
    outline: none;
}